#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#status-bar {
  background-color: #212121;
  -webkit-app-region: drag
}

#status-bar * {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#status-bar .btn {
  -webkit-app-region: no-drag
}

#layout-content {
  width: 100%;
  overflow: auto;
}

#layout-content::-webkit-scrollbar {
  width: 8px;
}

#layout-content::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

#layout-content::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}