@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tenada';
  src: url('/fonts/tenada.ttf');
}

:root {
  --statusbar-h: 25px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply bg-transparent text-[#213547];
  }

  a:hover {
    color: #747bff;
  }
}

@layer base {
  html {
    @apply bg-transparent items-center font-tenada overflow-hidden;
  }

  body {
    @apply bg-transparent;
  }
}

@layer components {
  .app {
    @apply w-[100vw] h-[100vh] bg-transparent border border-[#D0D5DD] box-content rounded-[8px] overflow-hidden;
  }

  .app .statusbar {
    -webkit-app-region: drag;
    @apply w-full h-[var(--statusbar-h)] bg-[#F2F3F6];
  }

  .app .statusbar * {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  
  .app .statusbar .btn {
    -webkit-app-region: no-drag;
    @apply w-[var(--statusbar-h)] h-full cursor-pointer flex justify-center items-center text-sm;
  }

  .page {
    @apply w-full h-full bg-[#E2E8F0];
  }

  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

  #layout-content {
    width: 100%;
    overflow: auto;
  }
  
  #layout-content::-webkit-scrollbar {
    width: 8px;
  }
  
  #layout-content::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
  
  #layout-content::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
}
