@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --statusbar-h: 25px;
  --red: #E50914;
  --white: #FFFFFF;
  --black: #000000;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    @apply bg-transparent text-[#213547];
  }

  a:hover {
    @apply text-[#747bff]
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-[#E2E8F0] rounded-[4px];
  }

  html {
    @apply bg-transparent items-center overflow-hidden;
  }

  body {
    @apply bg-transparent;
  }

  input {
    @apply outline-none font-medium;
  }

  button {
    @apply text-[13px] text-[#475467] bg-[#FFFFFF] font-bold outline-none;
    @apply hover:text-[#FFFFFF] hover:bg-[#475467];
    @apply active:shadow-lg;
  }
}

@layer components {
  .root {
    @apply w-[100vw] h-[100vh] border border-[#D0D5DD] box-border rounded-[8px] overflow-hidden;
  }

  .root .statusbar {
    -webkit-app-region: drag;
    @apply w-full h-[var(--statusbar-h)] bg-[#F2F3F6] rounded-t-[8px];
  }

  .root .statusbar * {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
  
  .root .statusbar .btn {
    -webkit-app-region: no-drag;
    @apply w-[var(--statusbar-h)] h-full cursor-pointer flex justify-center items-center text-sm;
  }

  .root .page {
    @apply w-full h-[calc(100%-var(--statusbar-h))] bg-[#E2E8F0];
  }

  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

  #layout-content {
    width: 100%;
    overflow: auto;
  }
  
  #layout-content::-webkit-scrollbar {
    width: 8px;
  }
  
  #layout-content::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
  
  #layout-content::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
}
